In [4]:
import numpy as np 
import pandas as pd
from sklearn.datasets import load_breast_cancer

In [6]:
data = load_breast_cancer()

In [13]:
df = pd.DataFrame(data.data, columns=data.feature_names)
df['target']=data.target

In [14]:
df.shape

(569, 31)

In [11]:
df.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [16]:
df['target'].value_counts()
# counts =1 (Benign(B))
# counts =0 (Malignant(M))

target
1    357
0    212
Name: count, dtype: int64

In [17]:
print("Target Names :", data.target_names)

Target Names : ['malignant' 'benign']

In [19]:
# Print the first 10 target values
print("Target values (first 10):", data.target[:10])

# Map target values to their names
target_labels = [data.target_names[i] for i in data.target[:10]]
print("Target labels (first 10):", target_labels)

Target values (first 10): [0 0 0 0 0 0 0 0 0 0]
Target labels (first 10): [np.str_('malignant'), np.str_('malignant'), np.str_('malignant'), np.str_('malignant'), np.str_('malignant'), np.str_('malignant'), np.str_('malignant'), np.str_('malignant'), np.str_('malignant'), np.str_('malignant')]

In [20]:
#codeblock
from sklearn.datasets import fetch_california_housing
housing_data = fetch_california_housing()
print(housing_data.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

:Number of Instances: 20640

:Number of Attributes: 8 numeric, predictive attributes and the target

:Attribute Information:
    - MedInc        median income in block group
    - HouseAge      median house age in block group
    - AveRooms      average number of rooms per household
    - AveBedrms     average number of bedrooms per household
    - Population    block group population
    - AveOccup      average number of household members
    - Latitude      block group latitude
    - Longitude     block group longitude

:Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

A household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surprisingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. rubric:: References

- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
  Statistics and Probability Letters, 33 (1997) 291-297

In [21]:
df = pd.DataFrame(housing_data.data, columns=housing_data.feature_names)
df['target']=housing_data.target

In [22]:
df.shape

(20640, 9)

In [23]:
df['target'][:5]

0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: target, dtype: float64